.wp-asresp-table {
width: 80% !important;
display: table !important;
padding: 32px 30px 32px 30px;
margin: 20px;
}
.wp-asresp-table-caption{
display: table-caption;
text-align: center;
font-size: 1.3em;
font-weight: bold;
padding: 32px 30px 32px 30px;
}
.wp-asresp-table-header{
display: table-header-group;
text-align: justify;
font-size: 1.3em;
}
.wp-astable-header-cell{
display: table-cell;
padding: 10px 18px 10px 18px;
text-align: justify;
border: 1px solid black;
}
.wp-asresp-table-body{
display: table-row-group;
}
.wp-asresp-table-row{
display: table-row;
}
.wp-astable-body-cell{
display: table-cell;
background: #f2f2f2;
border: 1px solid black;
padding: 10px 0px 10px 18px;
}
.wpas-form-table th {
vertical-align: top;
text-align: left;
padding: 20px 10px 20px 0;
width: 200px;
line-height: 1.3;
font-weight: 600;	
}
.wpas-date {
margin-bottom: 9px;
padding: 19px 0px;
line-height: 1.3;
vertical-align: middle;
}
.wpas_description{
padding: 0px 0px 10px 0px;
}
.wpas_page_title{
font-size: 1.3em;
color: #23282d;
font-size: 1.3em;
margin: 1em 0;
}
.cd{
margin: 25px;
}
.wp_as_global_settings {
padding: 10px;
}
/*#date_format_custom{
margin: 0px 42px;
padding: 2px 3px 2px 3px;
}*/
.wpas-hroption{
padding: 21px 0px 13px 0px;
}
#small-text1{
margin: 0px 30px;
}
#small-text2{
margin: 0px 47px;
}
.wpas-date-time-text{
	display: inline-block;
    min-width: 7em;
}
.small-text{
width: 45px !important;
    padding: 0px 5px !important;
}