.bsfresp-table {
width: 80% !important;
display: table !important;
padding: 32px 30px 32px 30px;
margin: 20px;
}
.bsfresp-table-caption{
display: table-caption;
text-align: center;
font-size: 1.3em;
font-weight: bold;
padding: 32px 30px 32px 30px;
}
.bsfresp-table-header{
display: table-header-group;
/*background-color: #dde6ea;*/
text-align: justify;
font-size: 1.3em;
}
.bsftable-header-cell{
display: table-cell;
padding: 10px 18px 10px 18px;
text-align: justify;
border: 1px solid black;
}
.bsfresp-table-body{
display: table-row-group;
}
.bsfresp-table-row{
display: table-row;
}
.bsftable-body-cell{
display: table-cell;
background: #f2f2f2;
border: 1px solid black;
padding: 10px 0px 10px 18px;
}